@charset "utf-8"
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body{font-family: 'Noto Sans KR', sans-serif!important;}
.warp{}
/*header*/
	#header{margin-left: 70px;height: 100px;}
/*aside*/
	.area_sns{
		height: 916px;
		transition: 0.5s;
		position: absolute;
		top: 100px;left: 0;
		z-index: 90;
		width: 70px;
		background-color: #fff;
	}
	.area_sns ul{
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	.area_sns ul li > a{
		display: block;
		position: relative;
		width: 23px;
		height: 23px;
		margin: 0 auto;
		text-indent: 100%;
		overflow: hidden;
		white-space: nowrap;
		margin-bottom: 1em;
	}
	.area_sns ul li > a[data-sns="face"]:before {
	    background-position-x: 0;
	}
	.area_sns ul li > a[data-sns="insta"]:before {
	    background-position-x: -23px;
	}
	.area_sns ul li > a[data-sns="blog"]:before {
	    background-position-x: -46px;
	}
	.area_sns ul li > a[data-sns="youtube"]:before {
	    background-position-x: -69px;
	}
	.area_sns ul li > a:before {
		content: '';
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-image: url(../img/sp_com.png);
		background-repeat: no-repeat;
		background-position-y: 0;
	}
	.area_sns .scroll {
		position: absolute;
		left: 50%;
		bottom: 0px;
		margin-left: -23px;
	}
	.area_sns .scroll span {
		display: block;
		margin-bottom: 40px;
		font-size: 13px;
		letter-spacing: 1.5px;
		transform: rotate(-90deg);
	}
	.area_sns .scroll i {
		display: block;
		overflow: hidden;
		position: relative;
		width: 1px;
		height: 140px;
		margin: 0 auto;
		background: rgba(210,212,201,0.7);
	}
	.jumbotron {padding: 0!important;height: 916px;}
		.video{width: calc(100% - 33%);height: calc(100% - 70px);position: relative;padding: 30px 0;}
		.video #myVideo{width: auto;height: 100%;position: absolute;;}
		.colorbox{
			position: absolute;
			top: 100px;
			right: 0;
			width: 35%;
			height: 916px;
			background-image: -webkit-linear-gradient(-40deg, #FF1A00 35%, #fff);}
	.contant{margin-bottom: 2rem;}
		.notice{position: relative;}
		.notice em{display: inline-block;font-size: 13px;color: #404040;letter-spacing: 2px;position: absolute;top: 20px;left: 20px;}
		.notice em:before{content: '';display: block;width: 100%;height: 1px;margin-bottom: 5px;background-color: #404040;}
		.notice h2{position: absolute;top: 30%;left: 20px;font-size: 28px;}
		.notice .col-3>p{position: absolute;top: 50%;left: 20px;color:#6c757d;}
		.notice .col-3>.btn{position: absolute;top: 75%;left: 20px;width: 100px;height: 35px;}
			.card{height: 100%;}
			.card h5{height: 3em;margin-bottom: 1em;}
			.card p{height:7.8em;}
			.card i{position: absolute;bottom: 20px;color: #6c757d;}
	.area_middle .sliderWrap{}
	.area_middle .sliderWrap .slider{}
	.area_middle .sliderWrap .slider li{width: 300px !important;}
	.area_middle .sliderWrap .slider li img{width: 100%;}